GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://127.0.0.1:8787/oauth/google/callback
PORT=8787
HOST=127.0.0.1
GMAIL_FOCUS_QUERY=to:info@jonnyandlinda.com newer_than:30d
GMAIL_ALLOWED_ORIGINS=http://127.0.0.1:4173,http://localhost:4173,https://jonasgamper-create.github.io
